.main {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

/* .main__ground {
  position: absolute;
  top: 0;
}

.main__game {
  position: relative;
} */
