@font-face {
  font-family: "Preahvihear";
  src: url("./fonts/Preahvihear-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;
  overflow-x: hidden;
}
